@font-face {
    font-family: 'Activist';
    src: url('activist/activist.eot');
    src:
         url('activist/activist.eot?#iefix') format('embedded-opentype'),
         url('activist/activist.woff') format('woff'),
         url('activist/activist.ttf') format('truetype'),
         url('activist/activist.svg#activist') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'RedRing';
    src: url('redring/redring-medium.eot');
    src:
         url('redring/redring-medium.eot?#iefix') format("embedded-opentype"),
         url('redring/redring-medium.woff') format("woff"),
         url('redring/redring-medium.ttf') format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'RedRing';
    src: url('redring/redring-bold.eot');
    src:
         url('redring/redring-bold.eot?#iefix') format("embedded-opentype"),
         url('redring/redring-bold.woff') format("woff"),
         url('redring/redring-bold.ttf') format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Formular';
    src: url('formular/formular-bold.eot');
    src:
         url('formular/formular-bold.eot?#iefix') format('embedded-opentype'),
         url('formular/formular-bold.woff2') format('woff2'),
         url('formular/formular-bold.woff') format('woff'),
         url('formular/formular-bold.ttf') format('truetype'),
         url('formular/formular-bold.svg#formularbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Formular';
    src: url('formular/formular-bolditalic.eot');
    src:
         url('formular/formular-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('formular/formular-bolditalic.woff2') format('woff2'),
         url('formular/formular-bolditalic.woff') format('woff'),
         url('formular/formular-bolditalic.ttf') format('truetype'),
         url('formular/formular-bolditalic.svg#formularbold_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Formular';
    src: url('formular/formular-regular.eot');
    src:
         url('formular/formular-regular.eot?#iefix') format('embedded-opentype'),
         url('formular/formular-regular.woff2') format('woff2'),
         url('formular/formular-regular.woff') format('woff'),
         url('formular/formular-regular.ttf') format('truetype'),
         url('formular/formular-regular.svg#formularregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Formular';
    src: url('formular/formular-regularitalic.eot');
    src:
         url('formular/formular-regularitalic.eot?#iefix') format('embedded-opentype'),
         url('formular/formular-regularitalic.woff2') format('woff2'),
         url('formular/formular-regularitalic.woff') format('woff'),
         url('formular/formular-regularitalic.ttf') format('truetype'),
         url('formular/formular-regularitalic.svg#formularitalic') format('svg');
    font-weight: 400;
    font-style: italic;
}
