html {
    font-family: 'Calibri', Arial, sans-serif;
}

html, body {
    height: 100% !important;
}

body {
    background: #fff;
    color: #000;
    line-height: 1.6;
}

a:hover {
    color: #e10000;
}

#media-detector {
    display: none;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

* html .wrapper {
    height: 100%;
}

h1, h2 {
    text-align: center;
}

h1, .h1_like {
    font-family: 'Activist', Helvetica, sans-serif;
    font-weight: normal;
    font-size: 2.05em;
    text-transform: uppercase;
    text-align: center;
}

.header {
    padding: 1px 0;
}

.footer {
    background-color: #00859a;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.footer_titles {
    color: #fff;
    font-family: 'RedRing';
    line-height: 50px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.footer_shadow {
    visibility: hidden;
    padding-bottom: 22px;
}


.share_block_bottom {
    text-align: center;
    margin: 2em 0 3em 0;
    height: 27px;
}

.alarm_banner {
    background-color: #e10000;
    color: #fff;
    font-family: 'Activist';
    font-size: 1.48em;
    padding: 0.34em 0 0.1em;
    line-height: 1.2;
}

.alarm_banner_reducer {
    width: 80%;
    margin: 0 auto;
    max-width: 34em;
}

.alarm_banner_content_date {
    font-size: 1.75em;
    text-align: center;
    margin: 0.45em 0;
    text-decoration: underline;
}

.alarm_banner_content_narrow {
    text-align: center;
}

.intro {
    line-height: 1.2;
    margin: 2.8em 0 2.8em;
}

.intro_photo {
    display: none;
}

.intro_reducer {
    margin: 0 auto;
    max-width: 33em;
}

.articles {
    line-height: 1.2;
}

.article {
    padding: 35px 0;
}

.article_gray {
    background-color: #f3f3f3;
}

.article_heading {
    display: none;
}

.article_image_wrap {
    display: table-row;
}

.article_body {
    margin: 0 auto;
    max-width: 65%;
}

.article_image {
    margin: 0.2em;
    display: table-cell;
    min-width: 262px;
    vertical-align: top;
}

.article_image_description {
    display: table-cell;
    vertical-align: top;
}

.article_image_link {
    text-decoration: none;
}

.menu {
    background: url('img/menu-shadow.png') repeat-x 0 100%;
    cursor: default;
    font-family: 'Formular';
    font-weight: bold;
    padding-bottom: 9px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2;
}

.menu_reducer {
    background-color: #fff;
}

.menu_link {
    color: #000;
    padding: 0.5em;
    display: inline-block;
}

.menu_link_active {
    color: #e10000;
    text-decoration: none;
    cursor: default;
}

#menu-sticky-wrapper {
    margin-bottom: -9px;
}

.icon_pdf {
    display: inline-block;
    width: 42px;
    height: 42px;
    vertical-align: top;
    position: relative;
    top: -6px;
    background: url('img/icon-pdf.png');
}

.article_icon {
    display: inline-block;
    width: 42px;
    height: 42px;
    vertical-align: top;
    position: relative;
    top: -6px;
}

.icon_quote {
    background: url('img/icon-quote.png');
}

.icon_timetable {
    background: url('img/icon-timetable.png');
}

.icon_audio {
    background: url('img/icon-audio.png');
}

.quote_text {
    border-left: 3px solid #cd2027;
    padding: 0 0 0 0.55em;
    font-family: Georgia;
    font-weight: bold;
    font-style: italic;
    font-size: 0.9em;
}

.quote_author {
    font-size: 0.7em;
    text-align: right;
    margin-left: 50%;
}

.events_chronology {
    margin: 0 0 1.25em;
}

.event {
    margin: 1.25em 0;
}

.event_date {
    color: #028388;
    font-weight: bold;
    font-size: 1.1em;
}

.event_description {
    font-size: 0.9em;
}

.speech_audio iframe {
    display: block;
    width: auto !important;
    max-width: 90%;
    margin: 0 auto;
}

.speech_video iframe {
    display: block;
    margin: 0 auto;
    max-width: 95%;
}

.speech_switcher {
    display: block;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.speech_switch {
    font-family: 'Formular';
    font-weight: bold;
    cursor: pointer;
    border-bottom-width: 2px;
    border-bottom-style: dashed;
}

.speech_switch_active {
    cursor: default;
    color: #e10000;
    border: none;
}

.motivator {
    padding-bottom: 2em;
}
