body {
    /*background-color: #dead1e;*/
    font-size: 1.25em;
}

.no_tablet {
    display:none !important;
}

#media-detector {
    content: 'tablet';
}

.alarm_banner {
    padding-bottom: 2em;
}

.alarm_banner_content_wide {
    display: none;
}

.alarm_banner_content_narrow {
    display: block;
}

.intro_reducer {
    margin: 0 6%;
    max-width: none;
}

.icon_pdf {
    display: none;
}

.article_body {
    max-width: 80%;
}

.record_title {
    font-weight: bold;
    font-size: 1.2em;
}


.record {
    margin-bottom: 2.4em;
}

.record_field_annotation {
    color: #878484;
}

.record_body {
    margin-left: 1.55em;
}

.record_date {
    margin: 0.3em 0;
}

.record_file_container {
    margin: 1em 0;
}

.record_description p {
    margin: 0.6em 0;
}

.record_links {
    display: table-row;
}

.record_links .record_field_annotation {
    display: table-cell;
    padding-right: 0.32em;
}

.record_links .record_field_content {
    display: table-cell;
    line-height: 1.0;
}

.record_links a {
    color: #918e8e;
    font-size: 0.8em;
}

.record_file {
    display: table-row;
    color: #000;
}

.record_file:hover {
    color: #e10000;
}

.record_file:hover .record_file_icon {
    background-position: 0 0;
}

.record_file_icon {
    display: table-cell;
    background: url('img/icon-audiofile.png') 0 100% no-repeat;
    width: 52px;
    height: 66px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 0.32em;
}

.record_file_title {
    display: table-cell;
    vertical-align: middle;
}


.pq {
    overflow: hidden;
    margin: 1.9em 0 2.7em;
}

.pq .field_annotation {
    text-align: right;
    float: left;
    width: 6em;
    color: #878484;
    padding-right: 0.32em;
}

.pq_field_person .field_content {
    font-weight: bold;
    text-transform: uppercase;
}

.pq_photo {
    float: left;
    margin: 1.3em 0.8em;
}

.pq_quote {
    border-left: 3px solid #cd2027;
    margin: 0.6em 0 0 5.2em;
    padding: 0.3em 0.4em;
    font-size: 1em;
    font-family: Georgia;
}

.share_block_big {
    text-align: center;
    margin: 1.4em 0px;
}

.share_block_big.b-share_theme_counter .b-share-icon {
    display: block;
    float: left;
    width: 42px;
    height: 42px;
    background-image: url('img/b-share_counter_x_large.png');
}
.share_block_big.b-share_theme_counter .b-share__link {
    -webkit-border-radius: 0;
    border-radius: 0;
    height: 42px !important;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.share_block_big .b-share-counter {
    margin: 10px 9px 3px 6px;
    font: 20px Arial, sans-serif;
}
.share_block_big.b-share_theme_counter .b-share-icon_vkontakte {
    background-position: 0 -96px;
}
.share_block_big.b-share_theme_counter .b-share-icon_twitter {
    background-position: 2px -146px;
}
.share_block_big.b-share_theme_counter .b-share-icon_moimir {
    background-position: 1px -48px
}
.share_block_big.b-share_theme_counter .b-share-icon_odnoklassniki {
    background-position: 1px -193px;
}
