body {
    font-size: 1em;
}

.no_phone,
.no_tablet
{
    display: none !important;
}

#media-detector {
    content: 'phone';
}

.alarm_banner {
    padding-bottom: 2em;
}

.alarm_banner_content_wide {
    display: none;
}

.alarm_banner_content_narrow {
    display: block;
}

.intro_reducer {
    margin: 0 4%;
    max-width: none;
}

.menu, 
#menu-sticky-wrapper {
    display: none;
}

.article {
    padding: 1em 0;
}

.article_body {
    margin: 0 4%;
    max-width: none;
}

.article_heading {
    display: block;
    font-family: 'Activist';
    font-size: 1.25em;
    text-align: left;
    font-weight: normal;
    margin: 0;
}

.article_subheading {
    display: none;
}


.record {
    margin-bottom: 2.4em;
}

.record_title {
    font-weight: bold;
    font-size: 1.2em;
}

.record_date .record_field_annotation {
    display: none;
}

.record_description .record_field_annotation {
    display: none;
}

.record_file {
    display: table-row;
    color: #000;
}

.record_file:hover {
    color: #e10000;
}

.record_file:hover .record_file_icon {
    background-position: 0 0;
}

.record_file_icon {
    display: table-cell;
    background: url('img/icon-audiofile.png') 0 100% no-repeat;
    width: 52px;
    height: 66px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 0.32em;
}

.record_file_title {
    display: table-cell;
    vertical-align: middle;
}

.record_links {
    display: none;
}


.pq {
    overflow: hidden;
    margin: 1.9em 0 2.7em;
    position: relative;
}

.pq_field {
    margin-left: 88px;
}

.pq .field_annotation {
    color: #878484;
    display: inline;
}

.pq_field_role2 .field_annotation {
    font-size: 0.9em;
}

.pq_field_role2 .field_content {
    display: inline;
}

.pq_field_person .field_content {
    font-weight: bold;
    text-transform: uppercase;
}

.pq_photo {
    position: absolute;
    top: 0;
    left: 0;
}

.pq_quote {
    border-left: 3px solid #cd2027;
    margin: 0.6em 0;
    padding: 0.3em 0.4em;
    font-size: 1em;
    font-family: Georgia;
}

.pq_field_person .field_annotation {
    display: none;
}

.pq_field_role1 .field_annotation {
    display: none;
}