body {
    font-size: 1.25em;
}

#media-detector {
    content: 'desktop';
}

.alarm_banner {
}

.alarm_banner_reducer {
    background: url('img/exclamation.png') no-repeat 0 50%;
    padding: 1.6em 0 1.6em 5em;
}

.alarm_banner_content_wide {
    display: block;
}

.alarm_banner_content_narrow {
    display: none;
}

.intro_photo {
    display: block;
    position: absolute;
    margin: -27px 0 0 -315px;
}

.motivator {
    background: url('img/delo-est.png') 100% 100% no-repeat;
    width: 100%;
    min-height: 588px;
    padding-bottom: 0;
}

.event_date:before {
    background: url('img/icon-time.png');
    display: inline-block;
    width: 24px;
    height: 22px;
    /*vertical-align: top;*/
    /*position: relative;*/
    position: absolute;
    content: '';
    font-size: 0;
    margin-left: -30px;
    margin-top: 1px;
}

.event_description {
    margin-left: 10%;
}

.recodrs_list {
    margin: 0 -1em;
}

.record {
    display: none;
    width: 200px;
    margin: 1em;
}

.record.record_has_file {
    display: inline-block;
}

.record_title {
    display: none;
}

.record_date {
    display: none;
}

.record_description {
    display: none;
}

.record_links {
    display: none;
}

.record_file {
    display: block;
    text-align: center;
    color: #000;
}

.record_field_annotation {
    display: none;
}

.record_file_icon {
    background: url('img/icon-audiofile.png') 0 100%;
    width: 52px;
    height: 66px;
    display: inline-block;
}

.record_file:hover .record_file_icon {
    background-position: 0 0;
}

.record_file_title {
    display: block;
}

.pq {
    overflow: hidden;
    margin: 1.6em 0 2.2em;
}

.pq .field_annotation {
    position: absolute;
    text-align: right;
    width: 150px;
    margin-left: -154px;
    color: #878484;
}

.pq_field_person .field_content {
    font-weight: bold;
    text-transform: uppercase;
}

.pq_photo {
    float: left;
    margin: 1.3em 1.1em;
}

.pq_quote {
    border-left: 3px solid #cd2027;
    margin: 0.5em 0 0 111px;
    padding: 0.3em 0.9em;
    font-size: 1.2em;
    font-family: Georgia;
}

.share_block_big {
    text-align: center;
    margin: 1.4em 0px;
}

.share_block_bottom {
    text-align: center;
    margin: 2em 0 3em 0;
    height: 27px;
}

.share_block_big.b-share_theme_counter .b-share-icon {
    display: block;
    float: left;
    width: 42px;
    height: 42px;
    background-image: url('img/b-share_counter_x_large.png');
}
.share_block_big.b-share_theme_counter .b-share__link {
    -webkit-border-radius: 0;
    border-radius: 0;
    height: 42px !important;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.share_block_big .b-share-counter {
    margin: 10px 9px 3px 6px;
    font: 20px Arial, sans-serif;
}
.share_block_big.b-share_theme_counter .b-share-icon_vkontakte {
    background-position: 0 -96px;
}
.share_block_big.b-share_theme_counter .b-share-icon_twitter {
    background-position: 2px -146px;
}
.share_block_big.b-share_theme_counter .b-share-icon_moimir {
    background-position: 1px -48px
}
.share_block_big.b-share_theme_counter .b-share-icon_odnoklassniki {
    background-position: 1px -193px;
}
